{% extends 'layout.html' %}
{% block body %}
<h1>Welcome {{session.username}} </h1>

<div class="container">
  <a href="/upload_song" class="btn btn-info" role="button">Upload songs</a>
</div>
<hr>
<table class="table table-stripped table-hover">
	<tr>
		<th>PLAYLIST NAME</th>
		<th></th>
	</tr>
	{% for song in songs %}
	<tr>
		<td><a href="play_playlist/{{song[0]}}"  class="btn btn-default">{{song[1]}}</a></td>

		<td></td>
		<td><a href="play_playlist/{{song[0]}}" class="btn btn-default pull-right">PLAY</a></td>
		<td><a href="download/{{song[0]}}" class="btn btn-default pull-right ">DOWNLOAD</a></td>
		<td><a href="delete_playlist/{{song[0]}}" class="btn btn-default pull-right">DELETE</a></td>
		<td><input type="text" value="{{share_url}}{{song[0]}}" id="myInput{{song[0]}}"><button onclick="myFunction({{song[0]}})">Copy sharable link</button></a></td>
		<td></td>
	</tr>
	{% endfor %}
</table>
<script>
function myFunction(id) {
	/* Get the text field */
	var input_name = "myInput"+id
	var copyText = document.getElementById(input_name);
  
	/* Select the text field */
	copyText.select();
	copyText.setSelectionRange(0, 99999); /*For mobile devices*/
  
	/* Copy the text inside the text field */
	document.execCommand("copy");
  }
</script>
{% endblock %}
